:root{
    --primario: #6264A7;
    --gris: #E1DFDD;
    --secundario: #7b83eb;
}
/**------------------------------------------**/
.pantalla{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.cabecera{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--secundario);
    height: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    align-content: flex-start;

}

.menu{
    background-color: var(--primario);
    width: 80px;
    height: 680;
}
.submenu{
    background: white;
    height: 680px;
    width: 20%;
}
.box{
    background-color: var(--gris);
    height: 680px;
    width: 75%;
}